* {
	margin:0px;
	padding:0px;
  
}
			
#header {
  display: flex;
  justify-content:center;
  align-item:center;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
}
			
ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
}
			
.nav li a {
	background-color:#9ec3ff;
	color:#061479;
	text-decoration:none;
	padding:10px 12px;
	display:block;
  border-width:2px;
  border-style:solid;
  border-color:#061479;
  text-align:center;
}
			
.nav li a:hover {
	background-color:#3377e6;
  color:#ffffff;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:-140px;
	top:0px;
}
h1{
  text-align:center;
}
h4{
  text-align:center;
  font-weight:normal;
}